DEFAULT_TIMEDELTA_HOURS = 12
FACEBOOK_APP_ID = 'XXXXXXXXXXXXXXXX'
FACEBOOK_APP_SECRET = 'XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX'
BASE_DIR = "/some/directory/path/"
LAST_RUN_TIME_FILENAME = BASE_DIR + "some_filename.txt"

WP_WEBSITE = "http://www.xyz.com"
WP_USERNAME = "XXXXXXXX"
WP_PASSWORD = "XXXXXXXXXXXXXXXX"

ACCESS_TOKENS_LIST = [
    {
        "name": "Page Name",
        "default_message": "Your default message, if no message is found",
        "profile_id": "XXXXXXXXXXXXXXX",
        "from_profile_id": "XXXXXXXXXXXXXXX",
        "access_token": "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
    }
]

WP_ACCESS_TOKENS_LIST = [
    {
        "name": "Blog Name",
        "default_message": "Your default message, if no message is found",
        "profile_id": "XXXXXXXXXXXXXXX",
        "access_token": "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
    }
]